.App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.urunler{
    display: flex;
    flex-wrap: wrap;

}
body{
    background-color: darkorange;
}