body{
    background-color: black;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.box{
    height: 300px;
    width: 300px;
    border-radius: 50%;
   color: white;
   font-size: 60px;
   line-height: 300px;  /* sayilari kutularin sagina gore ortaladi */
   text-align: center;
   margin-left: 20px;
}
.box1{
    background-color: brown;
}
.box2{
    background-color: cadetblue;
}
.box3{
    background-color: crimson;
}