.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chart{
  display: flex;
  height: 50px;
  transition: all 0.5s linear;
  position: absolute;
  top: 55px;
  left: 0;  
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
/* transition ile gecislerin hizini verdik
left ile soldan saga baslamasini sagladik
*/